.body {
    background-color: #969FAA;    
}

.container{
    background-color: #FFFFFF;
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 200px;
}

.login{
    right: 100px;
    padding: 10px;
}

.register{
    margin: auto;
    width: 30%;
}
.area{
    left: 100px;
    right: 100px;
    top: 0px;
    
}
